:root {
  --primary: #101357;
  --secondary: #fbaf08;
  --typography: grey;
}
#app {
  width: 100vw;
  height: 100vh;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--typography);
}
i {
  color: var(--secondary);
}
h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
h2 {
  font-size: 19px;
}
h1,
h2 {
  color: var(--primary);
}
p {
  color: grey;
  font-size: 16px;
  white-space: pre-line;
}

a {
  text-decoration: none;
}
